.App {
  background-image: linear-gradient(45deg, rgb(19, 19, 88) 1%, rgb(104, 14, 14) 80%);
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;

  
}

.title{
  font-size: 3em;
  color: white;
}
.main{
  background-color: white;
  width: 300px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  border-radius: 14px;
  padding: 5px;
}

.containerinput{
  background-color: rgba(255, 255, 255, 0.658);
  margin: 18px 0;
  padding: 8px;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.541);
  border-radius: 14px ;
}
input{
 background-color: transparent;
 border: none;
 outline: none;
}

button{
  background-color: transparent;
  border:none ;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
  text-align: center;
}
button:hover{
  cursor: pointer;
  transform: scale(1.2);
}

.main > h2{
  text-align: center;
}

span{
  text-align: center;
  padding: 5px;
  font-weight: bold;
}

@media (max-width: 400px){

  .title{
    font-size: 40px;
  }
  
}